[unit]
Description=Narrator Service

[Service]
Type=simple
User=root
Group=root
ExecStart=/home/mthrl/.pyenv/shims/python /home/mthrl/repos/narrator/scripts/app.py
Restart=always
WorkingDirectory=/tmp

[Install]
WantedBy=multi-user.target
